@model Quotes.Web.ViewModels.Authors.AuthorDetailViewModel

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name</h2>
<div class="col-md-2">
    <img class="img-circle" src="@Model.ImageUrl" />

</div>
<div class="container">
    @foreach (var quote in Model.Quotes)
    {
        <div class="row">

            <div class="col-md-8">
                <h4>
                    <a href="@quote.Url">@quote.Text</a>
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <strong>
                    <a href="@quote.Author.Url">@quote.Author.Name</a>
                </strong>
            </div>
            <div>
                @foreach (var tag in quote.Tags)
                {
                    <a href="@tag.Url" class="btn btn-default">@tag.Name</a>
                }
            </div>
        </div>
        <br />

    }

